#board{
    width: 600px;
    height: 600px;
    position: relative;
    background-color: rgb(153, 204, 255);
}

#character{
    width: 30px;
    height: 30px;
    position:absolute;
    background-image: url("sprites/player_stand_1.png");
    top: 570px;
    left: 285px;
    overflow: hidden;
}

#score{
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    top: 0px;
    left: 50px;
    width: 200px;
    height: 30px;
    color: black;
}

.platforms{
    position: absolute;
    background-color: rgb(204, 255, 255);
}

.items{
    background-image: url("sprites/item_1.png");
    position: absolute;
}

.traps{
    position: absolute;
    background-repeat: repeat;
}

.trapsV{
    background-image: url("sprites/trapSpikeV.png");
}

.trapsH{
    background-image: url("sprites/trapSpikeH.png");
}

#i_1{
    top: 260px;
    left: 180px;
    width: 30px;
    height: 30px;
}

#i_2{
    top: 540px;
    left: 500px;
    width: 30px;
    height: 30px;
}

#i_3{
    top: 60px;
    left: 370px;
    width: 30px;
    height: 30px;
}
#i_4{
    top: 305px;
    left: 230px;
    width: 30px;
    height: 30px;
}

#i_5{
    top: 540px;
    left: 360px;
    width: 30px;
    height: 30px;
}

#i_6{
    top: 530px;
    left: 500px;
    width: 30px;
    height: 30px;
}

#p_1{
    top: 0px;
    width: 30px;
    left: 0px;
    height: 600px;
}

#p_2{
    top: 0px;
    width: 30px;
    left: 570px;
    height:600px;
}

#p_3{
    top: 570px ;
    width: 200px;
    left:0px;
    height:30px;
}

#p_4{
    top: 300px;
    left: 260px;
    width: 100px;
    height: 300px;
}

#p_5{
    top: 430px;
    left: 120px;
    width: 50px;
    height: 30px;
}

#p_6{
    top: 320px;
    left: 0px;
    width:100px;
    height:30px;
}

#p_7{
    top: 570px;
    left: 420px;
    width: 100px;
    height:20px;
}

#p_8{
    top: 240px;
    left: 500px;
    width: 20px;
    height: 260px;
}

#p_9{
    top: 40px;
    left: 500px;
    width: 20px;
    height: 160px;
}

#p_10{
    top: 30px;
    left: 400px;
    width: 150px;
    height:20px;
}

#t_1{
    top: 410px;
    left: 240px;
    width: 20px;
    height:60px;
}

#t_4{
    top: 280px;
    left: 320px;
    width: 20px;
    height: 20px;
}

#t_3{
    top: 550px;
    left: 470px;
    width:20px;
    height:20px;
}



#e_1{
    position: absolute;
    top: 0px;
    left: 460px;
    width: 80px;
    height: 20px;
    background-color: transparent;
}

#p_21{
    top: 0px;
    left: 0px;
    width: 30px;
    height: 600px;
}

#p_22{
    top: 0px;
    left: 570px;
    width: 30px;
    height: 600px;
}

#p_23{
    top: 0px;
    left: 30px;
    width: 430px;
    height: 30px;
}

#p_24{
    top: 570px;
    left: 30px;
    width: 100px;
    height: 30px;
}

#p_25{
    top: 200px;
    left: 130px;
    width: 30px;
    height: 400px;
}

#p_26{
    top: 200px;
    left: 160px;
    width: 60px;
    height: 30px;
}

#p_27{
    top: 30px;
    left: 300px;
    width: 30px;
    height: 450px;
}

#p_28{
    top: 570px;
    left: 330px;
    width: 100px;
    height: 30px;
}

#p_29{
    top: 300px;
    left: 430px;
    width: 30px;
    height: 140px;
}

#p_30{
    top: 0px;
    left: 540px;
    width: 30px;
    height: 170px;
}

#p_31{
    top: 30px;
    left: 430px;
    width: 30px;
    height: 90px;
}