#board{
    width: 600px;
    height: 600px;
    position: relative;
    background-color: rgb(153, 204, 255);
}

#character{
    width: 30px;
    height: 30px;
    position:absolute;
    background-image: url("player_stand_1.png");
    top: 570px;
    left: 285px;
}

.platforms{
    position: absolute;
    background-color: rgb(204, 255, 255);
}

#p_1{
    top: 570px;
    width: 200px;
    left: 0px;
    height: 30px;
}

#p_2{
    top: 480px;
    width: 100px;
    left: 300px;
    height: 120px;
}

#p_3{
    top: 540px;
    width: 100px;
    left: 100px;
    height: 30px;
}

#p_4{
    top: 0px;
    left: 570px;
    width: 30px;
    height: 600px;
}

#p_5{
    top: 0px;
    left: 0px;
    width: 30px;
    height: 600px;
}

#p_6{
    top: 400px;
    left: 530px;
    width: 40px;
    height: 200px;
}

#p_7{
    top: 300px;
    left: 250px;
    width: 150px;
    height: 20px;
}

#p_21{
    top: 0px;
    left: 0px;
    width: 30px;
    height: 600px;
}

#p_22{
    top: 0px;
    left: 570px;
    width: 30px;
    height: 600px;
}

#p_23{
    top: 0px;
    left: 30px;
    width: 430px;
    height: 30px;
}

#p_24{
    top: 570px;
    left: 30px;
    width: 100px;
    height: 30px;
}

#p_25{
    top: 200px;
    left: 130px;
    width: 30px;
    height: 400px;
}

#p_26{
    top: 200px;
    left: 160px;
    width: 60px;
    height: 30px;
}

#p_27{
    top: 30px;
    left: 300px;
    width: 30px;
    height: 450px;
}

#p_28{
    top: 570px;
    left: 330px;
    width: 100px;
    height: 30px;
}

#p_29{
    top: 300px;
    left: 430px;
    width: 30px;
    height: 140px;
}

#p_30{
    top: 0px;
    left: 540px;
    width: 30px;
    height: 170px;
}

#p_31{
    top: 30px;
    left: 430px;
    width: 30px;
    height: 90px;
}

#game{
    position: absolute;
    color: red;
    top: 300px;
    left: 300px;
}